#animation{
    width: 960px; /* Ajuste de acordo com o tamanho desejado */
    height: 540px; /* Ajuste de acordo com o tamanho desejado */
    background-image: url('frame1.jpg'); /* Defina a imagem inicial */
    background-size: cover;
    position: relative;
  }
  